<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <title>MidnightDocs</title>
       <style>



       body{
         background-color: #e8e8ed;
       }
           .harsh{
           position:fixed;
           }
       </style>
    
    
    </head>
    <body>
    {% load static %}
  {% include 'app1/message.html' %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="font-family: cursive;" href="#">MidnightDocs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="contact">Contact Us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="description">Drug Information</a>
      </li>
         <li class="nav-item {% block active8 %} {% endblock %}">
        <a class="nav-link" href="\allblog">Blogs</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="covid">Covid19 Status</a>
      </li>
        {% if user.is_authenticated %}

             <li class="nav-item">
        <a href="logout" type="button"   class="nav-link card" >Logout</a>
      </li>

         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <div style="text-align:center; font-size:130%;" >Hello {{user.first_name}}!</div>
          <a class="dropdown-item mt-3" href="/createblog/{{user.username}}" style="text-align:center;">Take an appointment</a>
            <a class="dropdown-item mt-3" href="/myprofile/{{user.username}}" style="text-align:center;">My Profile</a>
            <a class="dropdown-item mt-3" href="/create/{{user.username}}" style="text-align:center;">Create Blog</a>





        </div>
             {% endif %}
      </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link card"  data-target="#mymodal" data-toggle="modal">Login</a>
      </li>



         <li class="nav-item">
        <a data-target="#mymodal1" data-toggle="modal" type="button"  class="nav-link card " >SignUp</a>
      </li>

        {% endif %}



      
    </ul>

  </div>
</nav>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app1/h1.jpg' %}" class="d-block w-100" height="500px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>― Aude Mermilliod</h5>
        <p>“Doctors who want power will do anything to get it; healers will do anything to get away from it.”</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'app1/h2.png' %}" class="d-block w-100" height="500px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>― Steven Magee</h5>
        <p>“Doctors and nurses are brave souls during a pandemic.”</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'app1/h3.jpg' %}" class="d-block w-100" height="500px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>― Nitya Prakash</h5>
        <p>“You sit in a hospital's emergency area and realize how god damn valuable health and life is - something so many of us takes for granted.”

</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <div class="container maine-tujhe-bola-na">
<div class="row">
    <div>
 <div class="mt-5">

        <h1 class="mb-5" style="text-align: center; font-family: cursive;"> OUR SUCCESS STORIES</h1>
        </div>

        <div class="container ">
  <div class="row">

    <div class="col p-5" style="background-color:#dfcfee;">
      <div class="card mt-5 ">
           <img src="{% static 'app1/har.jpeg' %}" class="card-img-top" height="200px" width="80%">

  <h2 class="card-header">
    Shivani Metha
  </h2>
       <h3 class="ml-4 mt-3">Physician</h3>
       <h4 class="ml-4">metha12@gmail.com</h4>
       <h6 class="ml-4">May 17, 2022, 1:10 a.m.</h6>
  <div class="card-body">
    <p class="card-text">Mr. and Mrs. Mehta was blessed with a child baby 5 years ago. After few years the baby was suffering from pneumonia and continue suffering from the disease, once a night the health of the
baby was very bad, then Mr. Mehta got to know with his friend Mr. Khanna about our websites MidnightDocs and book a slot for the consultance to Doctor and got an appointment within
15 minutes.</p>
  </div>
</div>
    </div>

    <div class="col p-5 " style="background-color:#c9c6cb;">

 <div class="card mt-5">
           <img src="{% static 'app1/har2.jpeg' %}" class="card-img-top" height="200px" width="80%">

  <h2 class="card-header">
    Pawan Kumar
  </h2>
       <h3 class="ml-4 mt-3"> Physician</h3>
       <h4 class="ml-4">kumarji@gmail.com</h4>
       <h6 class="ml-4">May 17, 2022, 1:08 a.m.</h6>
  <div class="card-body">
    <p class="card-text">Mr. Kumar got wet on a rainy day. After coming to home he had his bath. After few hours he felt ill with sneeze and fever. He was also feeling cold. Then he went to our website
MidnightDocs and book an appointment and got his appointment within 5 minutes and got diagnosed. Mr. Kumar after having the medicines is now feeling well and happy and thanks MidnightDocs &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
</div>
</div>

       <div class="col p-5 " style="background-color:#dfcfee;">
      <div class="card mt-5 ">
           <img src="{% static 'app1/har3.jpeg' %}" class="card-img-top" height="200px" width="80%">

  <h2 class="card-header">
    Stitu Singh
  </h2>
       <h3 class="ml-4 mt-3"> Physician</h3>
       <h4 class="ml-4">Istuti@gmail.com</h4>
       <h6 class="ml-4">May 17, 2022, 1:11 a.m.</h6>
  <div class="card-body">
    <p class="card-text">Mrs. Istuti an Engineering student was suffering from various pain in the body from last few days. The pain was so severe that she even was not able to walk properly.
She got to know to our websites MednightDocs and then book an appointment and got his appointment within 10 minutes and got diagnosed. After few days she got recoverd
and again began to walk as earlier. Thank You MidnightDocs </p>
  </div>
</div>
    </div>

</div>


    </div>

</div>
    </div>
    </div>


        <div class="container-fluid mt-5 mb-5 " style=";
    background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url({% static 'app1/h6.jpeg' %}) ;
    background-size: 100%;
         background-position: center;
    background-attachment: fixed;
    color: aliceblue; ">
             <div class="mt-5 pt-5  text-center">
      {% if not user.is_authenticated %}
        <h2 class="text-center mt-5 mb-5">For having an appointment</h2>
                 <div class="pb-5">
                 <span><a class="btn text-center btn-dark"  data-target="#mymodal" data-toggle="modal">Login</a></span><span>
                 <a data-target="#mymodal1" data-toggle="modal" type="button"  class="btn btn-dark " >SignUp</a></span>
                 </div>
        {% else %}
            <h2>For having an appointment</h2>
            <a class=" mt-5 mb-5 btn btn-dark"  href="/createblog/{{user.username}}" style="text-align:center;">Take an appointment</a>

        {% endif %}
        </div>
        </div>

    <h2 class="text-center mt-5 mb-5" > Our Specialities</h2>
    <div class="mb-5" style=";
    background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url({% static 'app1/h5.jpeg' %}) ;
    background-size: 100%;
         background-position: center;
    background-attachment: fixed;
    color: aliceblue; ">
<div class="row mt-5 mb-5 pl-5 pr-5" >
    <div class="col mt-5">
        <div class="" style="width: 18rem;">
  <img class="card-img-top p-5" src="{% static 'app1/s1.svg' %}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text "><h4 class="text-center">Gynacecolog</h4></p>
  </div>
</div>
    </div>
    <div class="col mt-5">
        <div class="" style="width: 18rem;">
  <img class="card-img-top p-5" src="{% static 'app1/s2.svg' %}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text "><h4 class="text-center">Sexology</h4></p>
  </div>
</div>
    </div>
    <div class="col mt-5">
        <div class="" style="width: 18rem;">
  <img class="card-img-top p-5" src="{% static 'app1/s3.svg' %}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text "><h4 class="text-center">General Physician</h4></p>
  </div>
</div>
    </div>

</div>
    <div class="text-center">
                <a class=" mb-5 btn btn-primary"  href="specialization" style="">Read More</a>
    </div>
</div>
    <div class="modal" id="mymodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center text-dark">LOGIN</h3>
                    <button type="button" class="close" data-dismiss="modal"> &times; </button>
                </div>
                <div class="modal-body">


                        <form action="login" method="POST">
                            {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control"  name="username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your username or password with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
       <small id="emailHelp" class="form-text text-muted">We'll never share your username or password with anyone else.</small>
  </div>



  <button type="submit" class="btn btn-dark">Submit</button>
                            <a href="forgot" class="btn btn-dark">Forgot Password</a>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="mymodal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center text-dark">SignUp</h3>
                    <button type="button" class="close" data-dismiss="modal"> &times; </button>
                </div>
                <div class="modal-body">
                        <form action="signup" method="POST">
                            {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
                                                                               <div class="form-group">
    <label for="exampleInputPassword1">Username</label>

    <input type="text" class="form-control" id="exampleInputPassword1" name="username">
  </div>

                                                        <div class="form-group">
    <label for="exampleInputPassword1">First Name</label>

    <input type="text" class="form-control" id="exampleInputPassword1" name="firstname">
  </div>
                                                        <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>

    <input type="text" class="form-control" id="exampleInputPassword1" name="lastname">
  </div>

                                                        <div class="form-group">





  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
       <small id="emailHelp" class="form-text text-muted">Password should be of atleast 7 letters</small>
  </div>
                            <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>

    <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
  </div>
                          <button type="submit" class="btn btn-dark">Submit</button></form>


                </div>
            </div>
        </div>
    </div>
 </div>
        <div >
        <footer class="">
            <div class="text-center text-light p-3" style="background-color: black;">
    © 2020 Copyright
  </div>
  <!-- Copyright -->

        </footer>
        </div>
    <script>

   </script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    

    </body>
</html>
